.loop-item {
    position: relative;
    .post-thumbnail {
        position: relative;
    }
    .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .overlay, .has-lightbox {
        cursor: pointer;
    }
}
