.preset3-layout {
    .splide {
        margin-left: -5px;
        margin-right: -5px;

        .loop-item {
            padding-left: 5px;
            padding-right: 5px;

            .overlay {
                height: 60px;
                width: 60px;
            }

            .post-thumbnail {
                height: 140px;
            }
        }
    }
    .columns-3 {
    }
}

@media(max-width: 767px) {
    .preset3-layout {
        .columns-3 {
            .loop-item {
                .overlay {
                    height: 50px;
                    width: 50px;
                }
                .post-thumbnail {
                    height: 120px;
                }
            }
        }
    }
}

@media(max-width: 480px) {
    .preset3-layout {
        .columns-3 {
            .loop-item {
                .overlay {
                    height: 40px;
                    width: 40px;
                }
                .post-thumbnail {
                    height: 90px;
                }
            }
        }
    }
}
