/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/post-layout.scss ***!
  \***********************************************************************************************************************/
.jankx-posts[class*=columns-] {
  display: flex;
  flex-wrap: wrap;
}
.jankx-posts[class*=columns-] .loop-item {
  width: 100%;
}
.jankx-posts .loop-item {
  margin-bottom: 20px;
}

.loop-item ul.post-metas {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .loop-item ul.post-metas {
    display: flex;
  }
  .loop-item ul.post-metas li + li {
    margin-left: 10px;
  }
  .jankx-posts.columns-2 .loop-item {
    width: 50%;
  }
  .jankx-posts.columns-3 .loop-item {
    width: 50%;
  }
  .jankx-posts.columns-4 .loop-item {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) and (max-width: 767px) {
  .jankx-posts.tablet-columns-2 .loop-item {
    width: 50%;
  }
  .jankx-posts.tablet-columns-3 .loop-item {
    width: 50%;
  }
  .jankx-posts.tablet-columns-4 .loop-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .jankx-posts.columns-3 .loop-item {
    width: 33.3333333333%;
  }
  .jankx-posts.columns-4 .loop-item {
    width: 25%;
  }
}
.jankx-posts-layout .loop-item .post-title {
  font-size: 0.9rem;
}
.jankx-posts-layout .post-thumbnail {
  max-height: 300px;
  overflow: hidden;
}
.jankx-posts-layout .post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jankx-posts.left-thumbnail .post {
  display: flex;
}
.jankx-posts .loop-item.thumbnail-left {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.jankx-posts .loop-item.thumbnail-left .post-thumbnail {
  width: 120px;
  padding: 5px;
}
.jankx-posts .loop-item.thumbnail-left .post-infos {
  flex: 1;
  padding: 5px;
}

@media (min-width: 992px) {
  .jankx-posts-layout.left-post .jankx-posts-layout-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .jankx-posts-layout.left-post .post-large-image {
    flex: 65%;
  }
  .jankx-posts-layout.left-post .jankx-posts {
    flex: 35%;
  }
}
@media (max-width: 767px) {
  .jankx-posts-layout.left-post .post-large-image {
    margin-bottom: 20px;
  }
  .jankx-posts.mobile-columns-2 .loop-item {
    width: 50%;
  }
  .jankx-posts.mobile-columns-3 .loop-item {
    width: 50%;
  }
  .jankx-posts.mobile-columns-4 .loop-item {
    width: 50%;
  }
}
.loop-item .post-title {
  font-size: 14px;
  margin-top: 10px;
}
.loop-item.post-large-image .post-title {
  margin-top: 10px;
}

.carousel-layout .splide__track {
  margin-left: -10px;
  margin-right: -10px;
}
.carousel-layout .loop-item {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 767px) {
  .card-layout.columns-2 .loop-item:nth-child(odd), .grid-layout.columns-2 .loop-item:nth-child(odd) {
    padding-right: 10px;
  }
  .card-layout.columns-2 .loop-item:nth-child(even), .grid-layout.columns-2 .loop-item:nth-child(even) {
    padding-left: 10px;
  }
  .preset-2-layout .preset-column:nth-child(odd) {
    padding-right: 10px;
  }
  .preset-2-layout .preset-column:nth-child(even) {
    padding-left: 10px;
  }
  .preset-2-layout .preset-column.group-1 .loop-item:not(.post-large-image):nth-child(odd) {
    padding-right: 10px;
  }
  .preset-2-layout .preset-column.group-1 .loop-item:not(.post-large-image):nth-child(even) {
    padding-left: 10px;
  }
  .preset-2-layout .preset-column.group-2 .loop-item:not(.post-large-image):nth-child(odd) {
    padding-left: 10px;
  }
  .preset-2-layout .preset-column.group-2 .loop-item:not(.post-large-image):nth-child(even) {
    padding-right: 10px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .card-layout.columns-4 .loop-item:nth-child(odd), .grid-layout.columns-4 .loop-item:nth-child(odd) {
    padding-right: 10px;
  }
  .card-layout.columns-4 .loop-item:nth-child(even), .grid-layout.columns-4 .loop-item:nth-child(even) {
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
  .card-layout.columns-3, .grid-layout.columns-3 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .card-layout.columns-3 .loop-item, .grid-layout.columns-3 .loop-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-layout.columns-4, .grid-layout.columns-4 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .card-layout.columns-4 .loop-item, .grid-layout.columns-4 .loop-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1600px) {
  .card-layout.columns-2 .loop-item:nth-child(odd), .grid-layout.columns-2 .loop-item:nth-child(odd) {
    padding-right: 15px;
  }
  .card-layout.columns-2 .loop-item:nth-child(even), .grid-layout.columns-2 .loop-item:nth-child(even) {
    padding-left: 15px;
  }
  .preset-2-layout .preset-column:nth-child(odd) {
    padding-right: 15px;
  }
  .preset-2-layout .preset-column:nth-child(even) {
    padding-left: 15px;
  }
}
.loop-item .post-thumbnail a {
  display: block;
  height: 100%;
}
.loop-item .post-thumbnail img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loop-item {
  position: relative;
}
.loop-item .post-thumbnail {
  position: relative;
}
.loop-item .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loop-item .overlay, .loop-item .has-lightbox {
  cursor: pointer;
}

.post-layout-tabs {
  display: flex;
  flex-wrap: wrap;
}
.post-layout-tabs .the-tab a {
  padding: 5px 10px;
}

.tabs-carousel-wrap {
  position: relative;
}
.tabs-carousel-wrap .splide__list {
  display: flex;
}

@media (max-width: 767px) {
  .jankx-tabs .the-tab a {
    text-align: center;
  }
}
.preset-column {
  height: 100%;
}

@media (min-width: 768px) {
  .preset-2-layout {
    display: flex;
  }
  .preset-2-layout .preset-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .preset-2-layout .preset-column .loop-item {
    width: 50%;
  }
  .preset-2-layout .preset-column .loop-item.post-large-image {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .preset-2-layout .preset-column {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-right: -1px;
  }
  .preset-2-layout .preset-column .loop-item {
    width: 50%;
    order: 2;
    padding: 0 1px;
  }
  .preset-2-layout .preset-column .loop-item.post-large-image {
    order: 1;
    width: 100%;
  }
  .preset-2-layout .preset-column .loop-item:not(.post-large-image) {
    height: 140px;
  }
  .preset-2-layout .preset-column .loop-item .post-title {
    font-size: 11px;
  }
}
.preset3-layout .splide {
  margin-left: -5px;
  margin-right: -5px;
}
.preset3-layout .splide .loop-item {
  padding-left: 5px;
  padding-right: 5px;
}
.preset3-layout .splide .loop-item .overlay {
  height: 60px;
  width: 60px;
}
.preset3-layout .splide .loop-item .post-thumbnail {
  height: 140px;
}
@media (max-width: 767px) {
  .preset3-layout .columns-3 .loop-item .overlay {
    height: 50px;
    width: 50px;
  }
  .preset3-layout .columns-3 .loop-item .post-thumbnail {
    height: 120px;
  }
}
@media (max-width: 480px) {
  .preset3-layout .columns-3 .loop-item .overlay {
    height: 40px;
    width: 40px;
  }
  .preset3-layout .columns-3 .loop-item .post-thumbnail {
    height: 90px;
  }
}
.preset-4-layout .bottom-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.preset-4-layout .bottom-list .loop-item {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .preset-4-layout {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  .preset-4-layout > .loop-item, .preset-4-layout .sub-layout {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .preset-4-layout .sub-layout > .loop-item:first-child .post-thumbnail {
    height: 200px;
  }
  .preset-4-layout .bottom-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .preset-4-layout .bottom-list .loop-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .preset-4-layout .bottom-list .loop-item .post-thumbnail {
    height: 150px;
  }
}
@media (min-width: 992px) {
  .preset-4-layout {
    margin-left: -10px;
    margin-right: -10px;
  }
  .preset-4-layout > .loop-item, .preset-4-layout .sub-layout {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preset-4-layout .bottom-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .preset-4-layout .bottom-list .loop-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.preset-5-layout {
  display: flex;
}
.preset-5-layout .sub-list .loop-item {
  display: flex;
  margin-left: -5px;
  margin-right: 5px;
}
.preset-5-layout .sub-list .post-thumbnail, .preset-5-layout .sub-list .post-infos {
  padding-left: 5px;
  padding-right: 5px;
}
.preset-5-layout .sub-list .post-thumbnail {
  height: 95px;
  width: 135px;
}
.preset-5-layout .sub-list .post-infos {
  flex: 1;
}

@media (min-width: 640px) {
  .preset-5-layout {
    margin-left: -5px;
    margin-right: -5px;
  }
  .preset-5-layout .splide, .preset-5-layout .sub-list {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 992px) {
  .preset-5-layout {
    margin-left: -10px;
    margin-right: -10px;
  }
  .preset-5-layout .splide, .preset-5-layout .sub-list {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preset-5-layout .splide {
    width: 60%;
  }
  .preset-5-layout .sub-list {
    width: 40%;
  }
}
@media (max-width: 639px) {
  .preset-5-layout {
    flex-direction: column;
  }
  .preset-5-layout .splide, .preset-5-layout .sub-list {
    flex: 1;
    flex-basis: auto;
  }
}
.preset-6-layout.jankx-posts {
  margin-left: -5px;
  margin-right: -5px;
}
.preset-6-layout.jankx-posts > .loop-item {
  width: 100%;
}
.preset-6-layout.jankx-posts > .loop-item, .preset-6-layout.jankx-posts .sub-list {
  padding-left: 5px;
  padding-right: 5px;
}
.preset-6-layout .sub-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.preset-6-layout .sub-list .loop-item {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .preset-6-layout.jankx-posts {
    margin-left: -10px;
    margin-right: -10px;
  }
  .preset-6-layout.jankx-posts > .loop-item {
    width: 50%;
  }
  .preset-6-layout.jankx-posts > .loop-item, .preset-6-layout.jankx-posts .sub-list {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preset-6-layout .sub-list {
    width: 50%;
    margin-left: -10px;
    margin-right: -10px;
  }
  .preset-6-layout .sub-list .loop-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=post-layout.css.map*/