.preset-2-layout {
    .loop-item {
    }
}

.preset-column {
    height: 100%;
}

@media(min-width: 768px) {
    .preset-2-layout {
        display: flex;
        .preset-column {
            width: 50%;

            display: flex;
            flex-wrap: wrap;
            .loop-item {
                width: 50%;

                &.post-large-image {
                    width: 100%;
                }
            }
        }
    }
}
