.preset-2 {
    .jankx-posts-layout-inner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .jankx-posts {
        .loop-item {

        }
    }
}

.jankx-posts-layout-inner {
}

@media(min-width: 768px) {
    .preset-2 {
        display: flex;
        .jankx-posts-layout-inner {
            width: 50%;
        }

        .jankx-posts {
            display: flex;
            flex-wrap: wrap;
            .loop-item {
                width: 50%;
            }
        }
    }
}
