.post-layout-tabs {
    display: flex;
    flex-wrap: wrap;

    .the-tab {
        a {
            padding: 5px 10px;
        }
    }
}

.tabs-carousel-wrap {
    .splide__list {
        display: flex;
    }
}
